.postit {
  display: inline-block;
}
.bg {
  filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.16));
}
.text {
  color: #555;
  display: block;
  position: absolute;
  width: 189px;
  margin-left: 21px;
  left: 0;
  top: 0;
  text-align: center;
  line-height: 48px;
  font-size: 1.2rem;
}
