.container {
  position: relative;
  min-height: calc(100vh - 48px);
  overflow: hidden;
  background: #fafafa;
}
.content {
  padding-top: 210px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logoWrapper {
  position: relative;
}
.logo {
  width: 120px;
  height: 120px;
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.16));
}
.name {
  margin-top: 32px;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  color: #707070;
}
.postit {
  animation: headingPostitAnimation 1s ease forwards;
}
.links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 32px;
  opacity: 0;
  animation: shareButtonAnimation 1s ease 0.25s forwards;
}
.shareButton {
  margin: 12px 0;
}
.titlePostit {
  animation: titlePostitAnimation 1s ease forwards;
}
@keyframes titlePostitAnimation {
  from {
    transform: translateY(-147px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes headingPostitAnimation {
  from {
    opacity: 0;
    transform: translateY(-64px);
  }
  to {
    opacity: 1;
    transform: translateY(0) rotate(-5deg);
  }
}
@keyframes shareButtonAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
