.container {
  position: relative;
  min-height: calc(100vh - 48px);
  overflow: hidden;
}
.content {
  padding-top: 210px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 64px;
}
.tree {
  border-left: 4px solid #008ffe;
}
.startItem {
  background-color: #fff;
  width: 128px;
  padding: 16px;
  text-align: center;
  color: #707070;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  margin-left: -8px;
  margin-bottom: 32px;
  margin-top: -32px;
  margin-left: -32px;
  font-size: 1.25rem;
}
.endItem {
  background-color: #fff;
  width: 128px;
  padding: 16px;
  text-align: center;
  color: #707070;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  margin-left: -8px;
  margin-top: 32px;
  margin-left: -32px;
  font-size: 1.25rem;
}
.titlePostit {
  animation: titlePostitAnimation 1s ease forwards;
}

@keyframes titlePostitAnimation {
  from {
    transform: translateY(-147px);
  }
  to {
    transform: translateY(0);
  }
}
